h1 {
 background-color: bisque;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
.yazı {
    position: relative;
    top: 100px;
    display: inline;
    right: 200px;
    left: 50px;
    bottom: 20px;
    color: rgb(37, 87, 119) 0.3sc rosybrown 
}

.var {
    position: absolute;
    top: 50px;
    right: 200px;
}

a{
    text-decoration: none;
}
 /* 1. Adım: Animasyonun kendisini tanımlayın (@keyframes) */
@keyframes renkDegisimi {
  0%   { color: #FF0000; } /* Kırmızı ile başla */
  25%  { color: #00FF00; } /* Yeşile dön */
  50%  { color: #0000FF; } /* Maviye dön */
  75%  { color: #FFFF00; } /* Sarıya dön */
  100% { color: #6a00ff; } /* Tekrar Kırmızıya dön (döngü için) */
  75%  {color: #FF0000;}
  50%  { color: #00FF00; } /* Yeşile dön */
  25%  { color: #0000FF; } /* Maviye dön */
  0%  { color: #FFFF00; } /* Sarıya dön */
}

/* 2. Adım: Animasyonu metne uygulayın */
.renk-degisken {
  /* Animasyonun adını, süresini ve döngüsünü belirtin */
  animation: renkDegisimi 10s linear infinite;
   
} 